/*** 

====================================================================
	Reset
====================================================================

***/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/

body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  background: $black;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  position: relative;
  &.acitve {
    overflow: hidden;
  }
  &::before {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 100vh;
    content: "";
    background: linear-gradient(90deg, #083a9a 0%, #5610ca 100%);
    pointer-events: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
}
.auto__container {
  position: relative;
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 40px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
