.nav {
  width: 58%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__links {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  .button {
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.burger {
  display: none;
}
@mixin nav-lg-xlg {
  .nav {
    position: fixed;
    top: 84.14px;
    left: 0;
    width: 100%;
    height: calc(100% - 84.14px);
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: space-between;
      align-items: unset;
      top: 0;
      right: 0;
      width: 250px;
      padding: 0;
      z-index: 1;
      padding: 20px;
      height: calc(100% - 40px);
      overflow-y: auto;
      background: #5610ca;
    }
    &__links {
      flex-direction: column;
    }
    &__link {
      border: none;
      padding: 15px;
      display: block;
      text-align: left;
      width: unset;
      color: $white;
      margin-right: 0;
      font-size: 16px;
      line-height: 1;
    }
    .button {
      justify-content: center;
    }
  }
  .body.active {
    overflow: hidden;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
      top: 20%;
      width: calc(100% - 0.4rem);
      height: 2px;
      background-color: $white;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    span {
      top: 50%;
      width: calc(100% - 0.4rem);
      height: 2px;
      background-color: $white;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transform;
    }
    &::after {
      bottom: 20%;
      width: calc(100% - 0.4rem);
      height: 2px;
      background-color: $white;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      span {
        opacity: 0;
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
}
@mixin nav-xsm-sm {
  .nav {
    top: 78px;
    height: calc(100% - 78px);
  }
}
